python-dotenv==0.21.0
pandas==2.0.1
datetime
python-socketio
matplotlib
jupyter
ipython
seaborn
numpy
scipy
statsmodels
scikit-learn
skforecast
lightgbm
xgboost
plotly
web3-ethereum-defi
web3-ethereum-defi[data]
defi
uniswap-python